<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Titanfall 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Titanfall 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1237970/header.jpg?t=1668565264">
  <ion-card-header>
    <ion-card-title>Price: €29.99</ion-card-title>
    <ion-button (click)="openBrowser()" color="dark">Buy on Steam</ion-button>
  </ion-card-header>
</ion-card>


<ion-card>
  <!--This single card is divided into two sections, the Pros of the game and the Cons of the game-->
  <ion-card-header>
    <ion-card-title>Pros</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>

      <ion-item>
        <ion-icon  name="add-outline" size="small"></ion-icon>&nbsp;&nbsp;
        <ion-label text-wrap>Great Story</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-icon  name="add-outline" size="small"></ion-icon>&nbsp;&nbsp;
        <ion-label text-wrap>Fantastic Movement + Gameplay</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-icon  name="add-outline" size="small"></ion-icon>&nbsp;&nbsp;
        <ion-label text-wrap>Best in Class Audio Design</ion-label>
      </ion-item>
    
    </ion-list>

  </ion-card-content>

  <ion-card-header>
    <ion-card-title>Cons</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>

      <ion-item>
        <ion-icon  name="remove-outline" size="small"></ion-icon>&nbsp;&nbsp;
        <ion-label text-wrap>Frequent Loading Screens</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-icon  name="remove-outline" size="small"></ion-icon>&nbsp;&nbsp;
        <ion-label text-wrap>Short Campaign</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-icon  name="remove-outline" size="small"></ion-icon>&nbsp;&nbsp;
        <ion-label text-wrap>Multiplayer is Unplayable</ion-label>
      </ion-item>
    
    </ion-list>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>User Rating: {{userReview}}</ion-card-title>
    <ion-card-subtitle>Rate the Game</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group [(ngModel)]="userReview">
    <ion-list>
      <ion-item>
        <ion-label>5</ion-label>
        <ion-radio value=5></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>4</ion-label>
        <ion-radio value=4></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>3</ion-label>
        <ion-radio value=3></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>2</ion-label>
        <ion-radio value=2></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>1</ion-label>
        <ion-radio value=1></ion-radio>
      </ion-item>

    </ion-list>
  </ion-radio-group>
  <ion-button (click)="onSave()" color="dark">Save Review</ion-button>
  <ion-button (click)="onDelete()" color="dark">Delete Review</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
