<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Crash Bandicoot 4: It's About Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crash Bandicoot 4: It's About Time</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1378990/header.jpg?t=1666113934">
  </div>
  <div id="container">
    <ion-item>
    <h3>Price: €39.99</h3>
    <ion-button (click)="openBrowser()">Buy on Steam</ion-button>
  </ion-item>
  </div>
  <h3>Pros</h3>
  <ul>
    <li>Best Crash Gameplay</li>
    <li>Platforming is Fun</li>
    <li>Fun New Art-Style</li>
  </ul>
  <h3>Cons</h3>
  <ul>
    <li>Levels are Far Too Long (8+ minutes)</li>
    <li>106% Completion is extremely tedious</li>
    <li>Lack of Polish in Later Levels</li>
  </ul>

  <h3>User Rating: {{userReview}}</h3>
  <ion-radio-group [(ngModel)]="userReview">
    <ion-list>
      <ion-item>
        <ion-label>5</ion-label>
        <ion-radio value=5></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>4</ion-label>
        <ion-radio value=4></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>3</ion-label>
        <ion-radio value=3></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>2</ion-label>
        <ion-radio value=2></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>1</ion-label>
        <ion-radio value=1></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
</ion-content>
