<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quick Reviews
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quick Reviews</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img [src]="gameImage1" />
    <ion-card-header>
      <ion-card-title>Deus Ex: Mankind Divided</ion-card-title>
      <ion-button fill="clear" [routerLink]="['/game1']">Check Review</ion-button>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img [src]="gameImage2" />
    <ion-card-header>
      <ion-card-title>Titanfall 2</ion-card-title>
      <ion-button fill="clear" [routerLink]="['/game2']">Check Review</ion-button>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img [src]="gameImage3" />
    <ion-card-header>
      <ion-card-title>Crash Bandicoot 4: It's About Time</ion-card-title>
      <ion-button fill="clear" [routerLink]="['/game3']">Check Review</ion-button>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img [src]="gameImage4" />
    <ion-card-header>
      <ion-card-title>Baba is You</ion-card-title>
      <ion-button fill="clear" [routerLink]="['/game4']">Check Review</ion-button>
    </ion-card-header>
  </ion-card>
  
        
</ion-content>