<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quick Reviews
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quick Reviews</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://cdn.akamai.steamstatic.com/steam/apps/337000/header.jpg?t=1675708510">
      </ion-thumbnail>
      <h3 [routerLink]="['/game1']">Deus Ex: Mankind Divided</h3>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://cdn.akamai.steamstatic.com/steam/apps/1237970/header.jpg?t=1668565264">
      </ion-thumbnail>
      <h3>Titanfall 2</h3>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://cdn.akamai.steamstatic.com/steam/apps/1378990/header.jpg?t=1666113934">
      </ion-thumbnail>
      <h3>Crash Bandicoot 4: It's About Time</h3>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://cdn.akamai.steamstatic.com/steam/apps/736260/header.jpg?t=1656225237">
      </ion-thumbnail>
      <h3>Baba is You</h3>
    </ion-item>
  </ion-list>

</ion-content>
